
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]="Item.Cname"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" [value]="Item.City"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" [value]="Item.Email"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" [value]="Item.Address"></td> 
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="text" [value]="Item.Mobile"></td>
    </tr>

</table>
